@{
}

@model LoginModel

@if(string.IsNullOrWhiteSpace(ViewBag.Hata) == false)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Hata
    </div>
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
        <h2>Giriş yap</h2>
        <form id="account" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label class="form-label">E-posta</label>
                <input type="email" class="form-control" asp-for="Email">
            </div>
            <div class="mb-3">
                <label class="form-label">Şifre</label>
                <input type="password" class="form-control" asp-for="Sifre">
            </div>
            <div class="mb-3">
                <div class="checkbox">
                    <label class="form-label">
                        <input class="form-check-input" asp-for="BeniHatirla" />
                        Beni hatırla
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Giriş yap</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}