@{
}

<h1>Müşteri Ekle</h1>

<ul>
    <li>
        <a href="/Customer/Index">listele</a>
    </li>
    <li>
        <a href="/Customer/Update">güncelle</a>
    </li>
    <li>
        <a href="/Customer/Delete">sil</a>
    </li>
</ul>