@{
}

<h1>Müşteri listele</h1>

<ul>
    <li>
        <a href="/Customer/Add">ekle</a>
    </li>
    <li>
        <a href="/Customer/Update">güncelle</a>
    </li>
    <li>
        <a href="/Customer/Delete">sil</a>
    </li>
</ul>