@{
}

<h1>Müşteri Güncelle</h1>

<ul>
    <li>
        <a href="/Customer/Index">listele</a>
    </li>
    <li>
        <a href="/Customer/Add">ekle</a>
    </li>
    <li>
        <a href="/Customer/Delete">sil</a>
    </li>
</ul>